
<div class="row">
    <div class="column">
        <div class="column" *ngFor="let ticket of tickets">
            <div>{{ ticket.name }}</div>
            <div>{{ ticket.priority }}</div>
            <div>{{ ticket.description }}</div>
        </div>
    </div>
    <div class="column">
        <div class="column" *ngFor="let ticket of tickets">
            <div>{{ ticket.name }}</div>
            <div>{{ ticket.priority }}</div>
            <div>{{ ticket.description }}</div>
        </div>
    </div>
</div>